:root {
  --gog-purple-bg: #78387b;
  --gog-purple-font: #86328a;
}

body {
  background-color: #d8d8d8;
}

#logo {
  width: 45px;
  border-radius: 7px;
}

.badge-light {
  color: #f8f9fa;
  background-color: transparent;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
}
.w-100 {
  width: 100% !important;
  height: 50vh;
  object-fit: contain;
}

.card-img-top {
  object-fit: contain;
}

.card-deck ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;

  margin: 0;
  padding: 0;
}
.card-deck li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}
.badge-secondary {
  background-color: var(--gog-purple-bg);
}

.card {
  background-color: #ececec !important;
}

#galaxy-gog div p span {
  font-weight: bold;
  color: var(--gog-purple-font);
}
 .fa-stack {
  font-size: 1.3em;
}
#fa-percent {
  font-size: 0.8em;
}
/*i {
  vertical-align: middle;
} 
